.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;

  .number {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey;

    &:hover {
      background-color: $light-grey;
    }
  }

  .clearNumber {
    border-radius: 50px;
    grid-area: 5 / 1 / 6 / 4;
    width: auto;
  }
}
