.calcul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 10px;

  .symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
  }
}
